.italic {
  font-style: italic;
}

.smcp {
  font-variant-caps: small-caps;
  font-variant-numeric: lining-nums;
}

.c2sc {
  font-variant-caps: all-small-caps;
  font-variant-numeric: lining-nums;
}

.onum {
  font-variant-numeric: oldstyle-nums;
}

.lnum {
  font-variant-numeric: lining-nums;
}

.w1 {
  font-weight: 100;
}

.w2 {
  font-weight: 200;
}

.w3 {
  font-weight: 300;
}

.w4 {
  font-weight: 400;
}

.w5 {
  font-weight: 500;
}

.w6 {
  font-weight: 600;
}

.w7 {
  font-weight: 700;
}

.w8 {
  font-weight: 800;
}

.w9 {
  font-weight: 900;
}