@use '../../variables/index' as var;
@use '../../mixins/index' as mxn;

* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  font-size: var.$fs-txt-ja;

  @include mxn.responsive('mp') {
    font-size: var.$fs-txt-mp-ja;
  }
}

body {
  margin: 0;
  color: var.$clr-bk;
  background-color: var.$clr-wh;
}

main.article{
  width: 100%;
  padding: var.$hdr-hgt-art var.$pds-art 0;
}